include ./datafake.pug
.wrapper-menu
    .bg-wrapper
    .menu-desktop
        ul.container-fluid.header-nav-menu.my-0.pd-custom-layout
            li.header-nav-menu_list
                a.header-nav-menu_title(href="./index.html") HOME
            li.header-nav-menu_list
                a.header-nav-menu_title(href="./category-product.html") DANH MỤC SẢN PHẨM
                    .header-nav-menu_content
                        each value,index in listTitleMenu
                            .nav-menu_content-box.mb-3
                                a(href="#").header-nav-menu_content-title=value
                                ul.header-nav-menu_content-sub
                                    if (index===0)
                                        each val in itemMenu1
                                            li
                                                a(href="#")=val
                                    if (index===1)
                                        each val in itemMenu2
                                            li
                                                a(href="#")=val 
                                    if (index===2)
                                        each val in itemMenu3
                                            li
                                                a(href="#")=val
                                    if (index===3)
                                        each val in itemMenu4
                                            li
                                                a(href="#")=val
                                    if (index===4)
                                        each val in itemMenu5
                                            li
                                                a(href="#")=val 
                                    if (index===5)
                                        each val in itemMenu6
                                            li
                                                a(href="#")=val
                                    if (index===6)
                                        each val in itemMenu7
                                            li
                                                a(href="#")=val
                                    if (index===7)
                                        each val in itemMenu8
                                            li
                                                a(href="#")=val 
                                    if (index===8)
                                        each val in itemMenu9
                                            li
                                                a(href="#")=val
                                    if (index===9)
                                        each val in itemMenu10
                                            li
                                                a(href="#")=val
                                    if (index===10)
                                        each val in itemMenu11
                                            li
                                                a(href="#")=val 
                li.header-nav-menu_list
                    a.header-nav-menu_title(href="#") KHÔNG GIAN SỐNG
                        .header-nav-menu_content
                            .nav-menu_content-box.col-sm-4.mb-3
                                a(href="#").item-project
                                    .item-img
                                        img.img-responsive(src='https://wedo.vn/wp-content/uploads/2019/06/mau-nha-cap-4-nong-thon-25.jpg')
                                    .txt-desc.p-3
                                        p Dự Án
                            .nav-menu_content-box.col-sm-4.mb-3
                                a(href="#").item-project
                                    .item-img
                                        img.img-responsive(src='https://quangan.vn/wp-content/uploads/2019/08/nha-cap-4-dep.jpg')
                                    .txt-desc.p-3
                                        p Phòng Đơn
                            .nav-menu_content-box.col-sm-4.mb-3
                                a(href="#").item-project
                                    .item-img
                                        img.img-responsive(src='https://wedo.vn/wp-content/uploads/2019/06/mau-nha-cap-4-nong-thon-25.jpg')
                                    .txt-desc.p-3
                                        p Phòng Đôi
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title BATH 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title BEDROOM 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title LIVING 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title LIGHTING 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title HOME IMPROVEMENT 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title OUTDOOR 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title FURNITURE 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title DECOR 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title MORE 1
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //- li.header-nav-menu_list
            //-     a.header-nav-menu_title(href="#") FIND PROFESSIONALS
            //-         .header-nav-menu_content
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title KITCHEN & DINING 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title BATH 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title BEDROOM 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title LIVING 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title LIGHTING 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title HOME IMPROVEMENT 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title OUTDOOR 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title FURNITURE 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title DECOR 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title MORE 2
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //- li.header-nav-menu_list
            //-     a.header-nav-menu_title(href="#") SALE
            //-         .header-nav-menu_content
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title KITCHEN & DINING 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title BATH 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title BEDROOM 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title LIVING 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title LIGHTING 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title HOME IMPROVEMENT 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title OUTDOOR 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title FURNITURE 3
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title DECOR
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7
            //-             .nav-menu_content-box.mb-3
            //-                 a(href="#").header-nav-menu_content-title MORE
            //-                 ul.header-nav-menu_content-sub
            //-                     li
            //-                         a(href="#") Item 1
            //-                     li
            //-                         a(href="#") Item 2
            //-                     li
            //-                         a(href="#") Item 3
            //-                     li
            //-                         a(href="#") Item 4
            //-                     li
            //-                         a(href="#") Item 5
            //-                     li
            //-                         a(href="#") Item 6
            //-                     li
            //-                         a(href="#") Item 7

.bg-wrapper
.menu-mobile
    .wrapper-logo
        .logo.ml-3
            a(href="https://techersoft.github.io/ecomerce/dist/html/index.html")
                img(src="https://st.hzcdn.com/res/4125/pic/houzz_logo.svg?v=4125", alt="Logo")
        button.btn-close-menu_mobile
            span.wrapper-close-menu_mobile
                span.icon-close-menu_mobile
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="#")
                h6.m-0 HOME
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="#")
                h6.m-0 DANH MỤC SẢN PHẨM
            button.btn-show-menu_mobile
                <i class="fas fa-caret-down"></i>
        ul.container-fluid.header-nav-menu.px-4
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Giường
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Tủ
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Bàn
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Ghế
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Sofa Đơn
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Sofa
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Bàn Cafe
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="#")
                h6.m-0 PHONG CÁCH THIẾT KẾ
            button.btn-show-menu_mobile
                <i class="fas fa-caret-down"></i>
        ul.container-fluid.header-nav-menu.px-4
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Phong cách 1
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Phong cách 2
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Phong cách Lagom
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Phong cách Bohemian
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="#")
                h6.m-0 TRẢI NGHIỆM KHÔNG GIAN SỐNG
            button.btn-show-menu_mobile
                <i class="fas fa-caret-down"></i>
        ul.container-fluid.header-nav-menu.px-4
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Dự án
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Phòng đơn
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Tự thiết kế
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="#") Phong cách Bohemian
                    <i class="fas fa-caret-down icon-menu_mobile ml-2"></i>
                ul.header-nav-menu_content-sub_mobile.px-3
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item 2
                    li
                        a(href="#") Item 3
                    li
                        a(href="#") Item 4
                    li
                        a(href="#") Item 5
                    li
                        a(href="#") Item 6
                    li
                        a(href="#") Item 7
    